@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.active {
  position: relative;
  color: #2563eb;
}
.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 5px);
  background: #2563eb;
  animation: animate 0.5s ease-in-out forwards;
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
